<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtmap.apistore.task.dao.TaskAttachFileDao" >
  <resultMap id="BaseResultMap" type="com.rtmap.apistore.task.entity.TaskAttachFile" >
   
    <id column="ATTACH_ID" property="attachId" jdbcType="VARCHAR" />
    <result column="TASK_ID" property="taskId" jdbcType="VARCHAR" />
    <result column="ATTACH_NAME" property="attachName" jdbcType="VARCHAR" />
    <result column="ATTACH_PATH" property="attachPath" jdbcType="VARCHAR" />
    <result column="OPERATOR" property="operator" jdbcType="VARCHAR" />
    <result column="OPERATE_TIME" property="operateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
   
    ATTACH_ID, TASK_ID, ATTACH_NAME, ATTACH_PATH, OPERATOR, OPERATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
   
    select 
    <include refid="Base_Column_List" />
    from task_attach_file
    where ATTACH_ID = #{attachId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
   
    delete from task_attach_file
    where ATTACH_ID = #{attachId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.rtmap.apistore.task.entity.TaskAttachFile" >
   
    insert into task_attach_file (ATTACH_ID, TASK_ID, ATTACH_NAME, 
      ATTACH_PATH, OPERATOR, OPERATE_TIME
      )
    values (#{attachId,jdbcType=VARCHAR}, #{taskId,jdbcType=VARCHAR}, #{attachName,jdbcType=VARCHAR}, 
      #{attachPath,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, #{operateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rtmap.apistore.task.entity.TaskAttachFile" >
   
    insert into task_attach_file
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="attachId != null" >
        ATTACH_ID,
      </if>
      <if test="taskId != null" >
        TASK_ID,
      </if>
      <if test="attachName != null" >
        ATTACH_NAME,
      </if>
      <if test="attachPath != null" >
        ATTACH_PATH,
      </if>
      <if test="operator != null" >
        OPERATOR,
      </if>
      <if test="operateTime != null" >
        OPERATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="attachId != null" >
        #{attachId,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null" >
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="attachName != null" >
        #{attachName,jdbcType=VARCHAR},
      </if>
      <if test="attachPath != null" >
        #{attachPath,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null" >
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rtmap.apistore.task.entity.TaskAttachFile" >
   
    update task_attach_file
    <set >
      <if test="taskId != null" >
        TASK_ID = #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="attachName != null" >
        ATTACH_NAME = #{attachName,jdbcType=VARCHAR},
      </if>
      <if test="attachPath != null" >
        ATTACH_PATH = #{attachPath,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        OPERATOR = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null" >
        OPERATE_TIME = #{operateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ATTACH_ID = #{attachId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rtmap.apistore.task.entity.TaskAttachFile" >
   
    update task_attach_file
    set TASK_ID = #{taskId,jdbcType=VARCHAR},
      ATTACH_NAME = #{attachName,jdbcType=VARCHAR},
      ATTACH_PATH = #{attachPath,jdbcType=VARCHAR},
      OPERATOR = #{operator,jdbcType=VARCHAR},
      OPERATE_TIME = #{operateTime,jdbcType=TIMESTAMP}
    where ATTACH_ID = #{attachId,jdbcType=VARCHAR}
  </update>
</mapper>