<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtmap.apistore.task.dao.TaskRemindDao" >
  <resultMap id="BaseResultMap" type="com.rtmap.apistore.task.entity.TaskRemind" >
   
    <id column="REMIND_ID" property="remindId" jdbcType="VARCHAR" />
    <result column="TASK_ID" property="taskId" jdbcType="VARCHAR" />
    <result column="REMIND_CONT" property="remindCont" jdbcType="VARCHAR" />
    <result column="REMIND_USER" property="remindUser" jdbcType="VARCHAR" />
    <result column="REMIND_HANDLER" property="remindHandler" jdbcType="VARCHAR" />
    <result column="REMIND_MODE" property="remindMode" jdbcType="CHAR" />
    <result column="REMIND_TYPE" property="remindType" jdbcType="SMALLINT" />
    <result column="RECORD_TIME" property="recordTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
   
    REMIND_ID, TASK_ID, REMIND_CONT, REMIND_USER, REMIND_HANDLER, REMIND_MODE, REMIND_TYPE, 
    RECORD_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
   
    select 
    <include refid="Base_Column_List" />
    from task_remind
    where REMIND_ID = #{remindId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
   
    delete from task_remind
    where REMIND_ID = #{remindId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.rtmap.apistore.task.entity.TaskRemind" >
   
    insert into task_remind (REMIND_ID, TASK_ID, REMIND_CONT, 
      REMIND_USER, REMIND_HANDLER, REMIND_MODE, 
      REMIND_TYPE, RECORD_TIME)
    values (#{remindId,jdbcType=VARCHAR}, #{taskId,jdbcType=VARCHAR}, #{remindCont,jdbcType=VARCHAR}, 
      #{remindUser,jdbcType=VARCHAR}, #{remindHandler,jdbcType=VARCHAR}, #{remindMode,jdbcType=CHAR}, 
      #{remindType,jdbcType=SMALLINT}, #{recordTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.rtmap.apistore.task.entity.TaskRemind" >
   
    insert into task_remind
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="remindId != null" >
        REMIND_ID,
      </if>
      <if test="taskId != null" >
        TASK_ID,
      </if>
      <if test="remindCont != null" >
        REMIND_CONT,
      </if>
      <if test="remindUser != null" >
        REMIND_USER,
      </if>
      <if test="remindHandler != null" >
        REMIND_HANDLER,
      </if>
      <if test="remindMode != null" >
        REMIND_MODE,
      </if>
      <if test="remindType != null" >
        REMIND_TYPE,
      </if>
      <if test="recordTime != null" >
        RECORD_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="remindId != null" >
        #{remindId,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null" >
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="remindCont != null" >
        #{remindCont,jdbcType=VARCHAR},
      </if>
      <if test="remindUser != null" >
        #{remindUser,jdbcType=VARCHAR},
      </if>
      <if test="remindHandler != null" >
        #{remindHandler,jdbcType=VARCHAR},
      </if>
      <if test="remindMode != null" >
        #{remindMode,jdbcType=CHAR},
      </if>
      <if test="remindType != null" >
        #{remindType,jdbcType=SMALLINT},
      </if>
      <if test="recordTime != null" >
        #{recordTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rtmap.apistore.task.entity.TaskRemind" >
   
    update task_remind
    <set >
      <if test="taskId != null" >
        TASK_ID = #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="remindCont != null" >
        REMIND_CONT = #{remindCont,jdbcType=VARCHAR},
      </if>
      <if test="remindUser != null" >
        REMIND_USER = #{remindUser,jdbcType=VARCHAR},
      </if>
      <if test="remindHandler != null" >
        REMIND_HANDLER = #{remindHandler,jdbcType=VARCHAR},
      </if>
      <if test="remindMode != null" >
        REMIND_MODE = #{remindMode,jdbcType=CHAR},
      </if>
      <if test="remindType != null" >
        REMIND_TYPE = #{remindType,jdbcType=SMALLINT},
      </if>
      <if test="recordTime != null" >
        RECORD_TIME = #{recordTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where REMIND_ID = #{remindId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rtmap.apistore.task.entity.TaskRemind" >
   
    update task_remind
    set TASK_ID = #{taskId,jdbcType=VARCHAR},
      REMIND_CONT = #{remindCont,jdbcType=VARCHAR},
      REMIND_USER = #{remindUser,jdbcType=VARCHAR},
      REMIND_HANDLER = #{remindHandler,jdbcType=VARCHAR},
      REMIND_MODE = #{remindMode,jdbcType=CHAR},
      REMIND_TYPE = #{remindType,jdbcType=SMALLINT},
      RECORD_TIME = #{recordTime,jdbcType=TIMESTAMP}
    where REMIND_ID = #{remindId,jdbcType=VARCHAR}
  </update>
</mapper>