<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtmap.apistore.interfaces.taskland.dao.TaskCommentDao">
	<resultMap id="BaseResultMap"
		type="com.rtmap.apistore.interfaces.taskland.entity.TaskComment">

		<id column="COMMENT_ID" property="commentId" jdbcType="VARCHAR" />
		<result column="TASK_ID" property="taskId" jdbcType="VARCHAR" />
		<result column="FLOW_ID" property="flowId" jdbcType="VARCHAR" />
		<result column="REPLY_TYPE" property="replyType" jdbcType="SMALLINT" />
		<result column="COMMENTS" property="comments" jdbcType="VARCHAR" />
		<result column="REPLIER" property="replier" jdbcType="VARCHAR" />
		<result column="REPLY_TIME" property="replyTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">

		COMMENT_ID, TASK_ID, FLOW_ID, REPLY_TYPE, COMMENTS,
		REPLIER, REPLY_TIME
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">

		select
		<include refid="Base_Column_List" />
		from ${SCHEMA_TASK}.task_comment
		where COMMENT_ID =
		#{commentId,jdbcType=VARCHAR}
	</select>
	<select id="selectByTaskId" resultMap="BaseResultMap"
		parameterType="java.lang.String">

		select
		<include refid="Base_Column_List" />
		from ${SCHEMA_TASK}.task_comment
		where TASK_ID =
		#{taskId,jdbcType=VARCHAR} ORDER BY REPLY_TIME desc
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">

		delete from
		${SCHEMA_TASK}.task_comment
		where COMMENT_ID =
		#{commentId,jdbcType=VARCHAR}
	</delete>
	<insert id="insert"
		parameterType="com.rtmap.apistore.interfaces.taskland.entity.TaskComment">

		insert into ${SCHEMA_TASK}.task_comment (COMMENT_ID,
		TASK_ID, FLOW_ID,
		REPLY_TYPE, COMMENTS, REPLIER,
		REPLY_TIME)
		values
		(#{commentId,jdbcType=VARCHAR}, #{taskId,jdbcType=VARCHAR},
		#{flowId,jdbcType=VARCHAR},
		#{replyType,jdbcType=SMALLINT},
		#{comments,jdbcType=VARCHAR}, #{replier,jdbcType=VARCHAR},
		now())
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.rtmap.apistore.interfaces.taskland.entity.TaskComment">

		update ${SCHEMA_TASK}.task_comment
		<set>
			<if test="taskId != null">
				TASK_ID = #{taskId,jdbcType=VARCHAR},
			</if>
			<if test="flowId != null">
				FLOW_ID = #{flowId,jdbcType=VARCHAR},
			</if>
			<if test="replyType != null">
				REPLY_TYPE = #{replyType,jdbcType=SMALLINT},
			</if>
			<if test="comments != null">
				COMMENTS = #{comments,jdbcType=VARCHAR},
			</if>
			<if test="replier != null">
				REPLIER = #{replier,jdbcType=VARCHAR},
			</if>
			REPLY_TIME = now(),
		</set>
		where COMMENT_ID = #{commentId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.rtmap.apistore.interfaces.taskland.entity.TaskComment">

		update ${SCHEMA_TASK}.task_comment
		set TASK_ID =
		#{taskId,jdbcType=VARCHAR},
		FLOW_ID = #{flowId,jdbcType=VARCHAR},
		REPLY_TYPE = #{replyType,jdbcType=SMALLINT},
		COMMENTS =
		#{comments,jdbcType=VARCHAR},
		REPLIER = #{replier,jdbcType=VARCHAR},
		REPLY_TIME = now()
		where COMMENT_ID = #{commentId,jdbcType=VARCHAR}
	</update>
</mapper>