<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtmap.apistore.interfaces.taskland.dao.TaskParticipant">
	<resultMap id="BaseResultMap"
		type="com.rtmap.apistore.interfaces.taskland.entity.TaskParticipant">

		<id column="TASK_ID" property="taskId" jdbcType="VARCHAR" />
		<result column="PARTICIPANT" property="participant" jdbcType="VARCHAR" />
		<result column="OPERATOR" property="operator" jdbcType="VARCHAR" />
		<result column="OPERATE_TIME" property="operateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">

		TASK_ID, PARTICIPANT, OPERATOR, OPERATE_TIME
	</sql>
	<select id="selectByTaskId" resultMap="BaseResultMap"
		parameterType="java.lang.String">

		select
		<include refid="Base_Column_List" />
		from ${SCHEMA_TASK}.task_participant
		where TASK_ID =
		#{taskId,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">

		delete from
		${SCHEMA_TASK}.task_participant
		where TASK_ID =
		#{taskId,jdbcType=VARCHAR} and
		PARTICIPANT=#{participant,jdbcType=VARCHAR}
	</delete>
	<insert id="insert"
		parameterType="com.rtmap.apistore.interfaces.taskland.entity.TaskParticipant">

		insert into ${SCHEMA_TASK}.task_participant (TASK_ID,
		PARTICIPANT, OPERATOR,
		OPERATE_TIME)
		values (#{taskId,jdbcType=VARCHAR},
		#{participant,jdbcType=VARCHAR},
		#{operator,jdbcType=VARCHAR},
		now())
	</insert>
</mapper>