<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtmap.apistore.task.dao.TaskParticipant" >
  <resultMap id="BaseResultMap" type="com.rtmap.apistore.task.entity.TaskParticipant" >
   
    <id column="TASK_ID" property="taskId" jdbcType="VARCHAR" />
    <result column="PARTICIPANT" property="participant" jdbcType="VARCHAR" />
    <result column="OPERATOR" property="operator" jdbcType="VARCHAR" />
    <result column="OPERATE_TIME" property="operateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
   
    TASK_ID, PARTICIPANT, OPERATOR, OPERATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
   
    select 
    <include refid="Base_Column_List" />
    from task_participant
    where TASK_ID = #{taskId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
   
    delete from task_participant
    where TASK_ID = #{taskId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.rtmap.apistore.task.entity.TaskParticipant" >
   
    insert into task_participant (TASK_ID, PARTICIPANT, OPERATOR, 
      OPERATE_TIME)
    values (#{taskId,jdbcType=VARCHAR}, #{participant,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, 
      #{operateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.rtmap.apistore.task.entity.TaskParticipant" >
   
    insert into task_participant
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="taskId != null" >
        TASK_ID,
      </if>
      <if test="participant != null" >
        PARTICIPANT,
      </if>
      <if test="operator != null" >
        OPERATOR,
      </if>
      <if test="operateTime != null" >
        OPERATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="taskId != null" >
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="participant != null" >
        #{participant,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null" >
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rtmap.apistore.task.entity.TaskParticipant" >
   
    update task_participant
    <set >
      <if test="participant != null" >
        PARTICIPANT = #{participant,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        OPERATOR = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null" >
        OPERATE_TIME = #{operateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where TASK_ID = #{taskId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rtmap.apistore.task.entity.TaskParticipant" >
   
    update task_participant
    set PARTICIPANT = #{participant,jdbcType=VARCHAR},
      OPERATOR = #{operator,jdbcType=VARCHAR},
      OPERATE_TIME = #{operateTime,jdbcType=TIMESTAMP}
    where TASK_ID = #{taskId,jdbcType=VARCHAR}
  </update>
</mapper>