<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtmap.apistore.interfaces.taskland.dao.TaskAttachFileDao">
	<resultMap id="BaseResultMap"
		type="com.rtmap.apistore.interfaces.taskland.entity.TaskAttachFile">

		<id column="ATTACH_ID" property="attachId" jdbcType="VARCHAR" />
		<result column="TASK_ID" property="taskId" jdbcType="VARCHAR" />
		<result column="ATTACH_NAME" property="attachName" jdbcType="VARCHAR" />
		<result column="ATTACH_PATH" property="attachPath" jdbcType="VARCHAR" />
		<result column="OPERATOR" property="operator" jdbcType="VARCHAR" />
		<result column="OPERATE_TIME" property="operateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">

		ATTACH_ID, TASK_ID, ATTACH_NAME, ATTACH_PATH, OPERATOR,
		OPERATE_TIME
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">

		select
		<include refid="Base_Column_List" />
		from ${SCHEMA_TASK}.task_attach_file
		where ATTACH_ID =
		#{attachId,jdbcType=VARCHAR}
	</select>
	<select id="selectByTaskId" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from ${SCHEMA_TASK}.task_attach_file
		where TASK_ID =
		#{taskId,jdbcType=VARCHAR} order by OPERATE_TIME desc
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">

		delete from
		${SCHEMA_TASK}.task_attach_file
		where ATTACH_ID =
		#{attachId,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteByTaskId" parameterType="java.lang.String">

		delete from
		${SCHEMA_TASK}.task_attach_file
		where TASK_ID =
		#{taskId,jdbcType=VARCHAR}
	</delete>
	<insert id="insert"
		parameterType="com.rtmap.apistore.interfaces.taskland.entity.TaskAttachFile">

		insert into ${SCHEMA_TASK}.task_attach_file (ATTACH_ID,
		TASK_ID,
		ATTACH_NAME,
		ATTACH_PATH, OPERATOR, OPERATE_TIME
		)
		values
		(#{attachId,jdbcType=VARCHAR}, #{taskId,jdbcType=VARCHAR},
		#{attachName,jdbcType=VARCHAR},
		#{attachPath,jdbcType=VARCHAR},
		#{operator,jdbcType=VARCHAR}, now()
		)
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.rtmap.apistore.interfaces.taskland.entity.TaskAttachFile">

		update ${SCHEMA_TASK}.task_attach_file
		<set>
			<if test="taskId != null">
				TASK_ID = #{taskId,jdbcType=VARCHAR},
			</if>
			<if test="attachName != null">
				ATTACH_NAME = #{attachName,jdbcType=VARCHAR},
			</if>
			<if test="attachPath != null">
				ATTACH_PATH = #{attachPath,jdbcType=VARCHAR},
			</if>
			<if test="operator != null">
				OPERATOR = #{operator,jdbcType=VARCHAR},
			</if>
			OPERATE_TIME = now(),
		</set>
		where ATTACH_ID = #{attachId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.rtmap.apistore.interfaces.taskland.entity.TaskAttachFile">

		update ${SCHEMA_TASK}.task_attach_file
		set TASK_ID =
		#{taskId,jdbcType=VARCHAR},
		ATTACH_NAME =
		#{attachName,jdbcType=VARCHAR},
		ATTACH_PATH =
		#{attachPath,jdbcType=VARCHAR},
		OPERATOR =
		#{operator,jdbcType=VARCHAR},
		OPERATE_TIME = now()
		where ATTACH_ID =
		#{attachId,jdbcType=VARCHAR}
	</update>
</mapper>