<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtmap.apistore.interfaces.taskland.dao.TaskFlowDao">
	<resultMap id="BaseResultMap"
		type="com.rtmap.apistore.interfaces.taskland.entity.TaskFlow">

		<id column="FLOW_ID" property="flowId" jdbcType="VARCHAR" />
		<result column="TASK_ID" property="taskId" jdbcType="VARCHAR" />
		<result column="TAS_ASSIGNER" property="tasAssigner" jdbcType="VARCHAR" />
		<result column="TASK_HANDLER" property="taskHandler" jdbcType="VARCHAR" />
		<result column="ASSIGN_TIME" property="assignTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">

		FLOW_ID, TASK_ID, TAS_ASSIGNER, TASK_HANDLER, ASSIGN_TIME
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">

		select
		<include refid="Base_Column_List" />
		from ${SCHEMA_TASK}.task_flow
		where FLOW_ID =
		#{flowId,jdbcType=VARCHAR}
	</select>
	<select id="selectByTaskId" resultMap="BaseResultMap"
		parameterType="java.lang.String">

		select
		<include refid="Base_Column_List" />
		from ${SCHEMA_TASK}.task_flow
		where TASK_ID =
		#{taskId,jdbcType=VARCHAR} order by ASSIGN_TIME ASC
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">

		delete from
		${SCHEMA_TASK}.task_flow
		where FLOW_ID = #{flowId,jdbcType=VARCHAR}
	</delete>
	<insert id="insert"
		parameterType="com.rtmap.apistore.interfaces.taskland.entity.TaskFlow">

		insert into ${SCHEMA_TASK}.task_flow (FLOW_ID,
		TASK_ID,TAS_ASSIGNER,TASK_HANDLER, ASSIGN_TIME)
		select
		#{flowId,jdbcType=VARCHAR}, #{taskId,jdbcType=VARCHAR},
		#{tasAssigner,jdbcType=VARCHAR},
		#{taskHandler,jdbcType=VARCHAR},
		now()
		from dual
		where not exists(
		select * from ${SCHEMA_TASK}.task_flow
		where
		TASK_ID=#{taskId,jdbcType=VARCHAR}
		AND
		TAS_ASSIGNER=#{tasAssigner,jdbcType=VARCHAR}
		AND
		TASK_HANDLER=#{taskHandler,jdbcType=VARCHAR}
		)
	</insert>
</mapper>