<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rtmap.apistore.interfaces.taskland.dao.TaskInfoDao">
	<resultMap id="BaseResultMap"
		type="com.rtmap.apistore.interfaces.taskland.entity.TaskInfo">
		<id column="TASK_ID" jdbcType="VARCHAR" property="taskId" />
		<result column="TASK_NAME" jdbcType="VARCHAR" property="taskName" />
		<result column="TASK_CONT" jdbcType="VARCHAR" property="taskCont" />
		<result column="TASK_STATUS" jdbcType="SMALLINT" property="taskStatus" />
		<result column="TASK_TYPE" jdbcType="SMALLINT" property="taskType" />
		<result column="TASK_PRIORITY" jdbcType="SMALLINT" property="taskPriority" />
		<result column="TASK_RELATE" jdbcType="VARCHAR" property="taskRelate" />
		<result column="TASK_RELATE_JSON" jdbcType="VARCHAR" property="taskRelateJson" />
		<result column="TASK_PID" jdbcType="VARCHAR" property="taskPid" />
		<result column="BEGIN_DATE" jdbcType="DATE" property="beginDate" />
		<result column="DEADLINE" jdbcType="DATE" property="deadline" />
		<result column="REMIND_MODE" jdbcType="CHAR" property="remindMode" />
		<result column="REMIND_MEMBER" jdbcType="CHAR" property="remindMember" />
		<result column="REMIND_EXPIRE_DAYS" jdbcType="SMALLINT"
			property="remindExpireDays" />
		<result column="CREATOR" jdbcType="VARCHAR" property="creator" />
		<result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
		<result column="MODIFIER" jdbcType="VARCHAR" property="modifier" />
		<result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
		<result column="LFT" jdbcType="INTEGER" property="lft" />
		<result column="RGT" jdbcType="INTEGER" property="rgt" />
	</resultMap>

	<resultMap type="com.rtmap.apistore.interfaces.taskland.bean.TaskInfoBean"
		id="BaseResultMap2" extends="BaseResultMap">
		<result column="SUB_TASK_IDS" jdbcType="String" property="subTaskIds" />
		<result column="SUB_COUNT" jdbcType="INTEGER" property="subCount" />
		<result column="SUB_PROCESS_COUNT" jdbcType="INTEGER" property="subProcessCount" />
	</resultMap>
	<sql id="Base_Column_List">
		TASK_ID, TASK_NAME, TASK_CONT, TASK_STATUS, TASK_TYPE,
		TASK_PRIORITY,
		TASK_RELATE,
		TASK_RELATE_JSON, TASK_PID, BEGIN_DATE,
		DEADLINE, REMIND_MODE, REMIND_MEMBER,
		REMIND_EXPIRE_DAYS,
		CREATOR,
		CREATE_TIME, MODIFIER, MODIFY_TIME, LFT, RGT
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap2">
		<![CDATA[
		SELECT
			<include refid="Base_Column_List" />,
			GROUP_CONCAT(C.TASK_ID) AS SUB_TASK_IDS,
			COUNT(C.TASK_ID) AS SUB_COUNT,
			SUM(IF(C.TASK_STATUS<3,1,0) AS SUB_PROCESS_COUNT
		FROM ${SCHEMA_TASK}.TASK_INFO P
		LEFT OUTER JOIN
		${SCHEMA_TASK}.TASK_INFO C
		ON P.TASK_PID=C.TASK_ID
		WHERE P.TASK_ID = #{taskId,jdbcType=VARCHAR}
		  AND P.TASK_STATUS > 0
		GROUP BY
		]]>
		<include refid="Base_Column_List" />
		order by P.MODIFY_TIME DESC
	</select>
	<select id="selectByTaskPid" parameterType="java.lang.String"
		resultMap="BaseResultMap2">
		<![CDATA[
		SELECT
			<include refid="Base_Column_List" />,
			GROUP_CONCAT(C.TASK_ID) AS SUB_TASK_IDS,
			COUNT(C.TASK_ID) AS SUB_COUNT,
			SUM(IF(C.TASK_STATUS<3,1,0) AS SUB_PROCESS_COUNT
		FROM ${SCHEMA_TASK}.TASK_INFO P
		LEFT OUTER JOIN
		${SCHEMA_TASK}.TASK_INFO C
		ON P.TASK_PID=C.TASK_ID
		WHERE P.TASKP_ID = #{taskId,jdbcType=VARCHAR}
		  AND P.TASK_STATUS > 0
		GROUP BY
		]]>
		<include refid="Base_Column_List" />
		order by P.MODIFY_TIME DESC
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">

		delete from
		${SCHEMA_TASK}.TASK_INFO
		where TASK_ID = #{taskId,jdbcType=VARCHAR}
	</delete>
	<insert id="insert"
		parameterType="com.rtmap.apistore.interfaces.taskland.entity.TaskInfo">

		insert into ${SCHEMA_TASK}.TASK_INFO
		(TASK_ID, TASK_NAME,
		TASK_CONT,
		TASK_STATUS, TASK_TYPE,
		TASK_PRIORITY,
		TASK_RELATE,
		TASK_RELATE_JSON,
		TASK_PID,
		BEGIN_DATE,
		DEADLINE, REMIND_MODE,
		REMIND_MEMBER,
		REMIND_EXPIRE_DAYS, CREATOR,
		CREATE_TIME, MODIFIER,
		MODIFY_TIME,
		LFT,
		RGT)
		values
		(#{taskId,jdbcType=VARCHAR},
		#{taskName,jdbcType=VARCHAR},
		#{taskCont,jdbcType=VARCHAR},
		#{taskStatus,jdbcType=SMALLINT},
		#{taskType,jdbcType=SMALLINT},
		#{taskPriority,jdbcType=SMALLINT},
		#{taskRelate,jdbcType=VARCHAR},
		#{taskRelateJson,jdbcType=VARCHAR},
		#{taskPid,jdbcType=VARCHAR},
		#{beginDate,jdbcType=DATE},
		#{deadline,jdbcType=DATE},
		#{remindMode,jdbcType=CHAR},
		#{remindMember,jdbcType=CHAR},
		#{remindExpireDays,jdbcType=SMALLINT},
		#{creator,jdbcType=VARCHAR},
		now(), #{modifier,jdbcType=VARCHAR},
		now(),
		#{lft,jdbcType=INTEGER},
		#{rgt,jdbcType=INTEGER})
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.rtmap.apistore.interfaces.taskland.entity.TaskInfo">

		update ${SCHEMA_TASK}.TASK_INFO
		<set>
			<if test="taskName != null">
				TASK_NAME = #{taskName,jdbcType=VARCHAR},
			</if>
			<if test="taskCont != null">
				TASK_CONT = #{taskCont,jdbcType=VARCHAR},
			</if>
			<if test="taskStatus != null">
				TASK_STATUS = #{taskStatus,jdbcType=SMALLINT},
			</if>
			<if test="taskType != null">
				TASK_TYPE = #{taskType,jdbcType=SMALLINT},
			</if>
			<if test="taskPriority != null">
				TASK_PRIORITY = #{taskPriority,jdbcType=SMALLINT},
			</if>
			<if test="taskRelate != null">
				TASK_RELATE = #{taskRelate,jdbcType=VARCHAR},
			</if>
			<if test="taskRelateJson != null">
				TASK_RELATE_JSON = #{taskRelateJson,jdbcType=VARCHAR},
			</if>
			<if test="taskPid != null">
				TASK_PID = #{taskPid,jdbcType=VARCHAR},
			</if>
			<if test="beginDate != null">
				BEGIN_DATE = #{beginDate,jdbcType=DATE},
			</if>
			<if test="deadline != null">
				DEADLINE = #{deadline,jdbcType=DATE},
			</if>
			<if test="remindMode != null">
				REMIND_MODE = #{remindMode,jdbcType=CHAR},
			</if>
			<if test="remindMember != null">
				REMIND_MEMBER = #{remindMember,jdbcType=CHAR},
			</if>
			<if test="remindExpireDays != null">
				REMIND_EXPIRE_DAYS =
				#{remindExpireDays,jdbcType=SMALLINT},
			</if>
			<if test="modifier != null">
				MODIFIER = #{modifier,jdbcType=VARCHAR},
			</if>
			MODIFY_TIME = now(),
			<if test="lft != null">
				LFT = #{lft,jdbcType=INTEGER},
			</if>
			<if test="rgt != null">
				RGT = #{rgt,jdbcType=INTEGER},
			</if>
		</set>
		where TASK_ID = #{taskId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.rtmap.apistore.interfaces.taskland.entity.TaskInfo">

		update ${SCHEMA_TASK}.TASK_INFO
		set TASK_NAME =
		#{taskName,jdbcType=VARCHAR},
		TASK_CONT =
		#{taskCont,jdbcType=VARCHAR},
		TASK_STATUS =
		#{taskStatus,jdbcType=SMALLINT},
		TASK_TYPE =
		#{taskType,jdbcType=SMALLINT},
		TASK_PRIORITY =
		#{taskPriority,jdbcType=SMALLINT},
		TASK_RELATE =
		#{taskRelate,jdbcType=VARCHAR},
		TASK_RELATE_JSON =
		#{taskRelateJson,jdbcType=VARCHAR},
		TASK_PID =
		#{taskPid,jdbcType=VARCHAR},
		BEGIN_DATE = #{beginDate,jdbcType=DATE},
		DEADLINE = #{deadline,jdbcType=DATE},
		REMIND_MODE =
		#{remindMode,jdbcType=CHAR},
		REMIND_MEMBER =
		#{remindMember,jdbcType=CHAR},
		REMIND_EXPIRE_DAYS =
		#{remindExpireDays,jdbcType=SMALLINT},
		MODIFIER =
		#{modifier,jdbcType=VARCHAR},
		MODIFY_TIME = now(),
		LFT =
		#{lft,jdbcType=INTEGER},
		RGT = #{rgt,jdbcType=INTEGER}
		where TASK_ID =
		#{taskId,jdbcType=VARCHAR}
	</update>
</mapper>