<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtmap.apistore.interfaces.taskland.dao.TaskAttachFileDao">
	<resultMap id="BaseResultMap"
		type="com.rtmap.apistore.interfaces.taskland.entity.TaskAttachFile">

		<id column="ATTACH_ID" property="attachId" jdbcType="VARCHAR" />
		<result column="TASK_ID" property="taskId" jdbcType="VARCHAR" />
		<result column="ATTACH_NAME" property="attachName" jdbcType="VARCHAR" />
		<result column="ATTACH_PATH" property="attachPath" jdbcType="VARCHAR" />
		<result column="OPERATOR" property="operator" jdbcType="VARCHAR" />
		<result column="OPERATE_TIME" property="operateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		ATTACH_ID, TASK_ID, ATTACH_NAME, ATTACH_PATH, OPERATOR,
		OPERATE_TIME
	</sql>
	<select id="selectByAttachId" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		SELECT
			<include refid="Base_Column_List" />
		  FROM ${SCHEMA_TASK}.TASK_ATTACH_FILE
		 WHERE ATTACH_ID = #{attachId,jdbcType=VARCHAR}
	</select>
	<select id="selectIdNamesByIds" resultType="java.util.HashMap">
		SELECT 
			ATTACH_ID AS ID,ATTACH_NAME AS NAME
		  FROM ${SCHEMA_TASK}.TASK_ATTACH_FILE
		 WHERE ATTACH_ID IN
		 <foreach collection="attachIds" item="attachId" open="("
			separator="," close=")">
			#{attachId}
		</foreach>
	</select>
	<select id="selectAttachesByTaskId" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		SELECT
			<include refid="Base_Column_List" />
		  FROM ${SCHEMA_TASK}.TASK_ATTACH_FILE
		 WHERE TASK_ID = #{taskId,jdbcType=VARCHAR} 
		 ORDER BY OPERATE_TIME DESC
	</select>
	<delete id="deleteByAttachIds">
		DELETE FROM ${SCHEMA_TASK}.TASK_ATTACH_FILE
		 WHERE ATTACH_ID IN
		<foreach collection="attachIds" item="attachId" open="("
			separator="," close=")">
			#{attachId}
		</foreach>
	</delete>
	<delete id="deleteByTaskId" parameterType="java.lang.String">
		DELETE FROM ${SCHEMA_TASK}.TASK_ATTACH_FILE
		WHERE TASK_ID =#{taskId}
	</delete>
	<insert id="insert"
		parameterType="com.rtmap.apistore.interfaces.taskland.entity.TaskAttachFile">
		INSERT INTO ${SCHEMA_TASK}.TASK_ATTACH_FILE (
			ATTACH_ID,
			TASK_ID,
			ATTACH_NAME,
			ATTACH_PATH, 
			OPERATOR, 
			OPERATE_TIME
		)VALUES(
			#{attachId,jdbcType=VARCHAR}, 
			#{taskId,jdbcType=VARCHAR},
			#{attachName,jdbcType=VARCHAR},
			#{attachPath,jdbcType=VARCHAR},
			#{operator,jdbcType=VARCHAR}, 
			NOW()
		)
	</insert>
	<update id="update"
		parameterType="com.rtmap.apistore.interfaces.taskland.entity.TaskAttachFile">
		UPDATE ${SCHEMA_TASK}.TASK_ATTACH_FILE
		<set>
			<if test="taskId != null">
				TASK_ID = #{taskId,jdbcType=VARCHAR},
			</if>
			<if test="attachName != null">
				ATTACH_NAME = #{attachName,jdbcType=VARCHAR},
			</if>
			<if test="attachPath != null">
				ATTACH_PATH = #{attachPath,jdbcType=VARCHAR},
			</if>
			<if test="operator != null">
				OPERATOR = #{operator,jdbcType=VARCHAR},
			</if>
			OPERATE_TIME = now(),
		</set>
		WHERE ATTACH_ID = #{attachId,jdbcType=VARCHAR}
	</update>
</mapper>