<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtmap.apistore.interfaces.taskland.dao.TaskRemindDao">
	<resultMap id="BaseResultMap"
		type="com.rtmap.apistore.interfaces.taskland.entity.TaskRemind">
		<id column="REMIND_ID" property="remindId" jdbcType="VARCHAR" />
		<result column="TASK_ID" property="taskId" jdbcType="VARCHAR" />
		<result column="REMIND_CONT" property="remindCont" jdbcType="VARCHAR" />
		<result column="REMIND_USER" property="remindUser" jdbcType="VARCHAR" />
		<result column="REMIND_HANDLER" property="remindHandler" jdbcType="VARCHAR" />
		<result column="REMIND_MODE" property="remindMode" jdbcType="CHAR" />
		<result column="REMIND_TYPE" property="remindType" jdbcType="SMALLINT" />
		<result column="RECORD_TIME" property="recordTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		REMIND_ID, TASK_ID, REMIND_CONT, REMIND_USER,REMIND_HANDLER, REMIND_MODE,REMIND_TYPE,RECORD_TIME
	</sql>
	<select id="selectByRemindId" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		SELECT
			<include refid="Base_Column_List" />
		  FROM ${SCHEMA_TASK}.TASK_REMIND
		 WHERE REMIND_ID = #{remindId,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByRemindId" parameterType="java.lang.String">
		DELETE FROM ${SCHEMA_TASK}.TASK_REMIND
		 WHERE REMIND_ID = #{remindId,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteByTaskId" parameterType="java.lang.String">
		DELETE FROM ${SCHEMA_TASK}.TASK_REMIND
		 WHERE TASK_ID = #{taskId,jdbcType=VARCHAR}
	</delete>
	<insert id="insert"
		parameterType="com.rtmap.apistore.interfaces.taskland.entity.TaskRemind">
		INSERT INTO ${SCHEMA_TASK}.TASK_REMIND (
			REMIND_ID,
			TASK_ID, 
			REMIND_CONT,
			REMIND_USER, 
			REMIND_HANDLER, 
			REMIND_MODE,
			REMIND_TYPE, 
			RECORD_TIME
		)VALUES (
			#{remindId,jdbcType=VARCHAR},
			#{taskId,jdbcType=VARCHAR},
			#{remindCont,jdbcType=VARCHAR},
			#{remindUser,jdbcType=VARCHAR}, 
			#{remindHandler,jdbcType=VARCHAR},
			#{remindMode,jdbcType=CHAR},
			#{remindType,jdbcType=SMALLINT}, 
			NOW()
		)
	</insert>
</mapper>